<div class="container h-100">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <h2 class="page-header-text">MY WORK</h2>
      <p class="page-bold-header-text">RECENT WORK</p>
      <div class="navbar-nav d-flex flex-row">
        <a class="nav-link pe-5" aria-current="page" routerLinkActive="border-bottom " routerLink="graphic">Graphic Design</a>
        <a class="nav-link pe-5" routerLinkActive="border-bottom " routerLink="software">Software</a>
        <a class="nav-link pe-5" routerLinkActive="border-bottom " routerLink="apps">Apps</a>
      </div>
      <router-outlet></router-outlet>

    </div>
  </div>
</div>
