
<div class="container">

  <!-- <div class="row">
    <div class="col-lg-6">
      <div class="work-gallery-heading text-center my-5">
        <h2>My Work Gallery</h2>
        <p>Explore a curated selection of my projects, showcasing my skills and creativity across various domains.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="work-gallery-heading text-center my-5">
        <h2>My Work Gallery</h2>
        <p>Explore a curated selection of my projects, showcasing my skills and creativity across various domains.</p>
      </div>
    </div>
  </div> -->
  <div class="row" >
    <div class="col-lg-6" *ngFor="let project of workGalleryData">
      <div class="project m-2" [ngStyle]="{'background-image': 'url(' + project.image + ')'}">
        <div class="desc  project-info pt-4">
          <div class="con">
            <h3><a href="work.html">{{ project.header }}</a></h3>
            <span>{{ project.description }}</span>
            <p class="icon"><span><a [href]="project.link"><i class="fa-solid fa-share-nodes"></i></a></span><span><a ><i
                    class="fa-regular fa-eye"></i> {{project.views}}</a></span><span><a ><i class="fa-regular fa-heart"></i>
                  {{project.likes}}</a></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
