.project{
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  border-radius: 0px;
}


.project-info{
  position: absolute;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: none;
}
.project-info h3, .project-info span {
  margin: 0;
  padding: 0;
}

.project-info h3 a {
  color: #fff;
  text-decoration: none;
}
.project-info span {
  font-size: 14px;
}


.icon{
  margin-top: 100px;
}

.project:hover .project-info {
  display: block;
}
