@font-face {
  font-family: 'Playfair Display';
  src: url('assets/Fonts/PlayfairDisplay-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.capitalize-text {
  text-transform: capitalize;

}
