@font-face {
  font-family: 'Playfair Display';
  src: url('../assets/Fonts/PlayfairDisplay-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.capitalize-text {
  text-transform: capitalize;

}


.navbar-fixed-lg {
  position: relative;
}


@media (min-width: 992px) {
  .navbar-fixed-lg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
  }
}
