<nav class="navbar navbar-expand-lg bg-body-tertiary h-100 ">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start " tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <div class="navbar-nav d-flex flex-column align-items-center justify-content-center text-center pt-5">
        <div>
          <img src="assets/profile.png" alt="Profile" class="rounded-circle mb-3" width="150" height="150" />
        </div>
        <a class="navbar-brand text-center font-changer" href="https://www.linkedin.com/in/mohamedabdelftah2050/">Mohamed
          Abdelfattah<br /><span class="text-primary fs-6">GIS Developer</span></a>
        <a class="nav-link active " aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Skills</a>
        <a class="nav-link" href="#">Experience</a>
        <a class="nav-link" href="#">Work</a>
      </div>
  </div>
</nav>
