<nav class="navbar navbar-expand-lg bg-body-tertiary h-100">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg"
    aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <div class="navbar-nav d-flex flex-column align-items-center justify-content-center text-center pt-5">
      <div>
        <img src="assets/profile.png" alt="Profile" class="rounded-circle mb-3" width="150" height="150" />
      </div>
      <div class="social-icons d-flex justify-content-center align-items-center">
        <a href="https://www.facebook.com/mohamedabdelftah2050" target="_blank" class="text-decoration-none text-primary">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://x.com/Abdelftah96" target="_blank" class="text-decoration-none text-info">
          <i class="fab fa-x fa-2x"></i>
          <!-- <i class="fa-solid fa-x"></i> -->
        </a>
        <a href="https://www.instagram.com/mohamedabdelftah/" target="_blank" class="text-decoration-none text-danger">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://wa.me/201112875781" target="_blank" class="text-decoration-none text-success">
          <i class="fab fa-whatsapp fa-2x"></i>
        </a>
        <a href="https://www.linkedin.com/in/mohamedabdelftah2050/" target="_blank" class="text-decoration-none text-primary">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
      <a class="navbar-brand text-center font-changer" href="https://www.linkedin.com/in/mohamedabdelftah2050/">Mohamed
        Abdelfattah<br /><span class="text-primary fs-6">GIS Developer</span></a>
      <a class="nav-link" data-bs-dismiss="offcanvas" aria-current="page" routerLink="/home">Home</a>
      <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/about">About</a>
      <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/skills">Skills</a>
      <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/experience">Experience</a>
      <a class="nav-link" data-bs-dismiss="offcanvas" routerLink="/work">Work</a>
    </div>
  </div>
</nav>
