<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
  <div *ngFor="let s of SliderContent; ; let first = first" class="carousel-inner bolder">

    <div *ngIf="first; else notFirst">
      <div class="carousel-item vh-100 active position-relative">
        <img [src]="s.imageUrl" class="d-block w-100 h-100  object-fit-cover blur" alt="..." />
        <div class="carousel-caption d-flex flex-column justify-content-center align-items-start h-100">
          <h1 class="text-black fw-bolder bolder">{{ s.fh1 }}</h1>
          <h1 class="text-black fw-bolder bolder">{{ s.fh2 }}</h1>
          <button type="button" (click)="downloadPdf()" class="btn boundary-square">{{ s.buttonText }} <i class="fa-solid fa-download"></i></button>
        </div>
      </div>
    </div>

    <ng-template #notFirst>
      <div class="carousel-item vh-100">
        <img [src]="s.imageUrl" class="d-block w-100 h-100 blur" alt="..." />
        <div class="carousel-caption d-flex flex-column justify-content-center align-items-start h-100">
          <h1 class=" text-black fw-bolder bolder">{{ s.fh1 }}</h1>
          <h1 class=" text-black fw-bolder bolder">{{ s.fh2 }}</h1>
          <button type="button" (click)="downloadPdf()" class="btn boundary-square">{{ s.buttonText }} <i class="fa-solid fa-download"></i></button>
        </div>
      </div>
    </ng-template>
  </div>
</div>




